/* ------------------------------------------------------ */

/*  W SHOP 105
/*------------------------------------------------------ */

/* ---------- GENERAL ---------- */

#w_shop_105, #w_shop_105 > .carousel-inner, #w_shop_105 > .carousel-inner > .carousel-item {
  overflow: hidden;
}

#w_shop_105 {
  position: relative;
  padding: 89px 30px;
  background: #e0e0e0;
}

#w_shop_105:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#w_shop_105:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#w_shop_105 > .carousel-inner {
  margin: auto;
}

#w_shop_105 > .carousel-inner > .carousel-item > img, #w_shop_105 > .carousel-inner > .carousel-item > a > img {
  width: 30%;
  margin: auto;
  display: block;
}

/* ---------- HEADER ---------- */

.w_shop_105_main_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 0 50px 0;
}

.w_shop_105_main_header > h1 {
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}

.w_shop_105_main_header > h1 > span {
  margin-right: 5px;
  color: #fb383c;
}

/* ---------- INDICATORS THUMBNAIL CONTROL ---------- */

.w_shop_105_indicators > .carousel-indicators {
  left: 0;
  right: 0;
  top: auto;
  width: 90%;
  bottom: 5px;
  height: 30px;
  margin: auto;
  padding: 3px 5px;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
}

.w_shop_105_indicators > .carousel-indicators li:before, .w_shop_105_indicators > .carousel-indicators li:after {
  display: none;
}

.w_shop_105_indicators > .carousel-indicators li {
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
  margin: 0 2px;
  text-indent: 0;
  cursor: pointer;
  overflow: hidden;
  background: #767676;
  display: inline-block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
}

.w_shop_105_indicators > .carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  text-indent: 0;
  background: #fb383c;
}

.w_shop_105_indicators > .carousel-indicators li img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.w_shop_105_indicators > .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}

.w_shop_105_indicators > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255,255,255, 0.3);
}

/* ---------- LEFT/RIGHT CONTROL ---------- */

.w_shop_105_control_button .carousel-control-prev, .w_shop_105_control_button .carousel-control-next {
  top: 25px;
  opacity: 1;
  width: 25px;
  bottom: auto;
  height: 25px;
  color: #767676;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 21px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #767676;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}

.w_shop_105_control_button .carousel-control-prev {
  left: 0;
  right: 27px;
  margin: auto;
}

.w_shop_105_control_button .carousel-control-next {
  right: 0;
  left: 27px;
  margin: auto;
}

.w_shop_105_control_button .carousel-control-prev:hover, .w_shop_105_control_button .carousel-control-next:hover {
  opacity: 1;
  color: #fb383c;
  border-color: #fb383c;
}

/* ---------- LEFT BOX ---------- */

.w_shop_105_left_box {
  top: 20%;
  left: 3%;
  width: 30%;
  padding: 15px;
  overflow: hidden;
  position: absolute;
}

.w_shop_105_left_box > span, .w_shop_105_left_box > h1, .w_shop_105_left_box > p, .w_shop_105_left_box > a {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

.w_shop_105_left_box > span {
  color: #fb383c;
  font-size: 25px;
  display: inline-block;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.w_shop_105_left_box > h1 {
  color: #2e2e2e;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  font-family: roboto;
}

.w_shop_105_left_box > p {
  color: #2e2e2e;
  font-size: 13px;
  margin: 10px 0 15px 0;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.w_shop_105_left_box > a {
  width: 110px;
  height: 30px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  background: #fb383c;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.w_shop_105_left_box > a:hover {
  color: #ffffff;
  background: #2e2e2e;
}

/* ---------- RIGHT BOX ---------- */

.w_shop_105_right_box {
  top: 20%;
  right: 12%;
  left: auto;
  position: absolute;
}

.w_shop_105_right_box > ul {
  padding: 0;
  list-style-type: none;
}

.w_shop_105_right_box > ul > li {
  margin: 5px 0;
  display: block;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding: 5px 5px 5px 10px;
  text-transform: capitalize;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

.w_shop_105_right_box > ul > li:before {
  top: 50%;
  right: 0;
  bottom: 0;
  left: -15px;
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  background: #fb383c;
}

.w_shop_105_right_box > ul > li:nth-child(1) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.w_shop_105_right_box > ul > li:nth-child(2) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.w_shop_105_right_box > ul > li:nth-child(3) {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.w_shop_105_right_box > ul > li:nth-child(4) {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}

.w_shop_105_right_box > ul > li:nth-child(5) {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

/* ------------------------------------------------------ */

/*  RESPONSIVE
/*------------------------------------------------------ */

/* ---------- MEDIA 480px ---------- */

@media only screen and (max-width: 480px) {
  #w_shop_105 {
    padding: 40px 5px;
  }
}

@media only screen and (max-width: 480px) {
  #w_shop_105 > .carousel-inner > .carousel-item > img, #w_shop_105 > .carousel-inner > .carousel-item > a > img {
    width: 50%;
  }
}

/* ---------- HEADER ---------- */

@media only screen and (max-width: 480px) {
  .w_shop_105_main_header {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .w_shop_105_main_header > h1 {
    font-size: 22px;
  }
}

/* ---------- INDICATORS THUMBNAIL CONTROL ---------- */

@media only screen and (max-width: 480px) {
  .w_shop_105_indicators > .carousel-indicators {
    bottom: 0;
  }
}

/* ---------- LEFT/RIGHT CONTROL ---------- */

@media only screen and (max-width: 480px) {
  .w_shop_105_control_button .carousel-control-prev, .w_shop_105_control_button .carousel-control-next {
    top: 10px;
  }
}

/* ---------- LEFT BOX ---------- */

@media only screen and (max-width: 480px) {
  .w_shop_105_left_box {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: relative;
  }
}

/* ---------- RIGHT BOX ---------- */

@media only screen and (max-width: 480px) {
  .w_shop_105_right_box {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
  }
}

@media only screen and (max-width: 480px) {
  .w_shop_105_right_box > ul > li:before {
    left: 10%;
  }
}

/* ---------- MEDIA 481px - 767px ---------- */

@media (min-width: 481px) and (max-width: 767px) {
  #w_shop_105 {
    padding: 60px 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #w_shop_105 > .carousel-inner > .carousel-item > img, #w_shop_105 > .carousel-inner > .carousel-item > a > img {
    width: 50%;
  }
}

/* ---------- LEFT BOX ---------- */

@media (min-width: 481px) and (max-width: 767px) {
  .w_shop_105_left_box {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: relative;
  }
}

/* ---------- RIGHT BOX ---------- */

@media (min-width: 481px) and (max-width: 767px) {
  .w_shop_105_right_box {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .w_shop_105_right_box > ul > li:before {
    left: 30%;
  }
}

/* ---------- MEDIA 768px - 991px ---------- */

@media (min-width: 768px) and (max-width: 991px) {
  #w_shop_105 {
    padding: 89px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #w_shop_105 > .carousel-inner > .carousel-item > img, #w_shop_105 > .carousel-inner > .carousel-item > a > img {
    width: 25%;
  }
}

/* ---------- LEFT BOX ---------- */

@media (min-width: 768px) and (max-width: 991px) {
  .w_shop_105_left_box {
    top: 5%;
    left: 3%;
    width: 35%;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w_shop_105_left_box > span {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w_shop_105_left_box > h1 {
    margin: 5px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w_shop_105_left_box > p {
    font-size: 11px;
    margin: 5px 0 10px 0;
  }
}

/* ---------- RIGHT BOX ---------- */

@media (min-width: 768px) and (max-width: 991px) {
  .w_shop_105_right_box {
    top: 0;
    right: 5%;
  }
}

/* ---------- MEDIA 992px - 1225px ---------- */

/* ---------- LEFT BOX ---------- */

@media (min-width: 992px) and (max-width: 1225px) {
  .w_shop_105_left_box {
    top: 10%;
  }
}

/* -------------------------------------------- */

/*  SLIDING TIMING FUNCTIONS
/*-------------------------------------------- */

/* ----- ps_ease ----- */

.ps_ease .carousel-item {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* ----- ps_easeInOut ----- */

.ps_easeInOut .carousel-item {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* ----- ps_speedy ----- */

.ps_speedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/* ----- ps_slowSpeedy ----- */

.ps_slowSpeedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/* ----- ps_easeOutInCubic ----- */

.ps_easeOutInCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/* ----- ps_swing ----- */

.ps_swing .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/* ----- ps_easeOutCubic ----- */

.ps_easeOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/* ----- ps_easeInOutCubic ----- */

.ps_easeInOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/* ----- ps_easeOutCirc ----- */

.ps_easeOutCirc .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/* ----- ps_easeOutExpo ----- */

.ps_easeOutExpo .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/* ----- ps_easeInQuad ----- */

.ps_easeInQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/* ----- ps_easeOutQuad ----- */

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/* ----- ps_easeInOutQuad ----- */

.ps_easeInOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/* ----- ps_easeOutQuart ----- */

.ps_easeOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/* ----- ps_easeInOutQuart ----- */

.ps_easeInOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/* ----- ps_easeOutQuint ----- */

.ps_easeOutQuint .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/* ----- ps_easeInSine ----- */

.ps_easeInSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/* ----- ps_easeOutSine ----- */

.ps_easeOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/* ----- ps_easeInOutSine ----- */

.ps_easeInOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}

